@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .bg-design-white{
    background-color: #f3f2ee;
  }

  .bg-head{
    background-color: #d3d2cf;
  }

  .design-border{
    border-color: #d3d2cf;
  }

  .design-text{
    color: #1e293b
  }
  .text-8{
    font-size: 8px;
  }
  .inter {
    font-family: 'Inter';
  }
  .design-text-value{
    color: #747474;
  }
  .win-blue {
    background-color: #5c88dd;
    color: white;
  }

  .win-blue-head{
    color: white;
    background-color: #174fbb;
  }
  .text-white {
    color: white
  }
  .bg-red-button{
    background-color: red !important;
  }

  .bg-red-button:hover{
    background-color: #333333 !important;
  }
}